@{
    ViewData["Title"] = "Registration";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.dashboardpack.com/adminty-html/default/ready-registration-form.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Apr 2024 13:44:12 GMT -->

<head>
    <title>Register | SO </title>


    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    <link rel="icon" href="../../files/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../files/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../files/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="../../files/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="../../files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href="../../files/assets/pages/j-pro/css/demo.css">
    <link rel="stylesheet" type="text/css" href="../../files/assets/pages/j-pro/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../files/assets/pages/j-pro/css/j-pro-modern.css">

    <link rel="stylesheet" type="text/css" href="../../files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../files/assets/css/jquery.mCustomScrollbar.css">
</head>

<body>
<div class="card">
                                                    <div class="card-header">
                                                        <h5>Register Here</h5>
                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit</span>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="j-wrapper j-wrapper-640">
                                                            <form
                                                                action="https://demo.dashboardpack.com/adminty-html/default/j-pro/php/action.php"
                                                                method="post" class="j-pro" id="j-pro" novalidate>
                                                                <div class="j-content">

                                                                    <div>
                                                                        <label class="j-label">Name</label>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="name">
                                                                                    <i
                                                                                        class="icofont icofont-ui-user"></i>
                                                                                </label>
                                                                                <input type="text" id="name"
                                                                                    name="name">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label">Email</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="email">
                                                                                    <i
                                                                                        class="icofont icofont-envelope"></i>
                                                                                </label>
                                                                                <input type="email" id="email"
                                                                                    name="email">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">Login</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="login">
                                                                                    <i
                                                                                        class="icofont icofont-ui-check"></i>
                                                                                </label>
                                                                                <input type="text" id="login"
                                                                                    name="login">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div>
                                                                        <div>
                                                                            <label class="j-label ">Password</label>
                                                                        </div>
                                                                        <div class="j-unit">
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right"
                                                                                    for="password">
                                                                                    <i class="icofont icofont-lock"></i>
                                                                                </label>
                                                                                <input type="password" id="password"
                                                                                    name="password">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="j-response"></div>

                                                                </div>

                                                                <div class="j-footer">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Register</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script type="text/javascript" src="../../files/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../files/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../files/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="../../files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../files/assets/pages/j-pro/js/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../../files/assets/pages/j-pro/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="../../files/assets/pages/j-pro/js/jquery.j-pro.js"></script>

    <script type="text/javascript" src="../../files/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="../../files/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../../files/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>

    <script type="text/javascript" src="../../files/bower_components/i18next/i18next.min.js"></script>
    </script>
    <script type="text/javascript"
        src="../../files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
        src="../../files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="../../files/bower_components/jquery-i18next/jquery-i18next.min.js"></script>

    <script type="text/javascript" src="../../files/assets/pages/j-pro/js/custom/reg-form.js"></script>
    <script src="../../files/assets/js/pcoded.min.js"></script>
    <script src="../../files/assets/js/vartical-layout.min.js"></script>
    <script src="../../files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../../files/assets/js/script.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/adminty-html/default/ready-registration-form.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Apr 2024 13:44:13 GMT -->

</html>
