@{
    ViewData["Title"] = "Profile";
}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h5><i class="icofont icofont-graduate-alt"></i> Profile</h5>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary"><i class="icofont icofont-pen-alt-4"></i>Edit Profile</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row align-items-center">
            <div class="col-4">
                <div class="card">
                    div>h3>p
                    <div class="card-body box-profile">
                        <h3 class="">1</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">

                </div>
            </div>
        </div>
</div>
