@{ ViewData["Title"] = "Profile"; }

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h5><i class="icofont icofont-graduate-alt"></i> Profile</h5>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary">
                    <i class="icofont icofont-pen-alt-4"></i>Edit Profile
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row align-items-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body profile-box">
                    <h3 class="text-center">Nyabarange, Kevin Mranda</h3>
                    <p class="text-muted text-center">230242431641</p>
                    <ul class="list-group list-group-unbor mb-3">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-toggle="tab">Academic Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="tab">Finance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="tab">Guardian Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="tab">Academic History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="tab">Attachments</a>
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <div class="row">
                                <div class="col-sm-3 col-6">
                                    <div class=" border-right text-center">
                                        <span class=" text-success">CSEE Number</span>
                                        <h5 class="">S5332/0036/2019</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class=" border-right text-center">
                                        <span class=" text-warning">
                                            Year of Study</span>
                                        <h5 class="">Second Year - (2)</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class=" border-right text-center">
                                        <span class=" text-success">
                                            Class</span>
                                        <h5 class="">BENG22COE</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class=" border-right text-center">
                                        <span class=" text-danger">
                                            Course Duration</span>
                                        <h5 class="">4</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 col-md-7">
                                    <div class="card">
                                        <div class="card-body">
                                            <strong><i class="icofont icofont-graduate-alt"></i>
                                                Program</strong>
                                            <p class="text-muted">
                                                BACHELOR OF ENGINEERING IN COMPUTER ENGINEERING
                                            </p>
                                            <hr>
                                            <strong><i class="icofont icofont-graduate-alt"></i>
                                                Campus</strong>
                                            <p class="text-muted">
                                                DIT Main Campus
                                            </p>
                                            <hr>
                                            <strong><i class="icofont icofont-graduate-alt"></i>
                                                Department</strong>
                                            <p class="text-muted">
                                                Computer Studies
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-primary elevation-1"><i class="icofont icofont-graduate-alt"></i></span>
                            
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: 15px;">Academic Status
                                            </span>
                                            <span class="info-box-number" style="font-size: 12px;">
                            
                            
                            
                                            </span>
                                        </div>
                                    </div>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-danger elevation-1">
                                            <i class="icofont icofont-graduate-alt"></i></span>
                            
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: 15px;">Registration
                                                Status</span>
                                            <span class="info-box-number" style="font-size: 12px;">
                            
                                                Fully Registered
                            
                                            </span>
                                        </div>
                                    </div>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-warning elevation-1">
                                            <i class="icofont icofont-graduate-alt"></i></span>
                            
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: 15px;">Continuity Status
                                            </span>
                                            <span class="info-box-number" style="font-size: 12px;">
                            
                                                Continuing
                            
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>